.new_main--page {
  margin-top: 48px;
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.new_first--hero {
  width: 100%;
  height: 54.68%;
  overflow: hidden;
  display: flex;
  position: relative;
  z-index: 1;
}

.new_first--hero_wrap {
  position: relative;
  overflow: hidden;
  width: 79.25%;
  height: 100%;

  .new_first--hero_item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    visibility: visible;

    /*&:nth-child(2) {
      &:before {
        background: #d4c4c4;
      }
    }*/

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      content: '';
      background: #cdcdcd;
      z-index: 1;
      transition: width 0s ease-in-out .8s;
    }

    &.active {
      position: relative;
      width: 100%;
      opacity: 1;
      visibility: visible;
      z-index: 3;

      .new_first--hero_title {
        opacity: 1;
        transition: opacity .6s ease-in-out .4s;
      }

      &:before {
        width: 100%;
        transition: width .8s ease-in-out;
      }
    }

    .new_first--hero_title {
      position: absolute;
      font-size: 40px;
      font-weight: 700;
      color: #000;
      z-index: 4;
      text-transform: uppercase;
      top: 50%;
      left: 5.4%;
      transform: translate(0, -50%);
      width: 100%;
      max-width: 80%;
      line-height: initial;
      opacity: 0;
      transition: opacity .2s ease-in-out;
    }
  }

}


.new_first--hero_bullets {
  position: absolute;
  right: 20%;
  bottom: 10%;
  z-index: 4;
  display: flex;
  align-items: center;
}

.new_first--hero_bullets i {
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  margin-right: 14px;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  transition: all .4s ease-in-out;
}

.new_first--hero_bullets i.active {
  background: #000;
}

.new_first--hero_bullets i:last-child {
  margin-right: 0;
}


.new_first--hero_join {
  width: calc(100% - 79.25%);
  position: relative;
  height: 100%;
  overflow: hidden;

  &--wrap {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .new_first--hero_join--item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 30px 42px;
    z-index: 2;

    &:nth-child(2) {
      &:before {
        background: #a515a9;
      }
    }

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      content: '';
      background: #e35ce5;
      z-index: 1;
      transition: width 0s ease-in-out .8s;
    }


    &.active {
      position: relative;
      width: 100%;
      opacity: 1;
      visibility: visible;
      z-index: 3;

      &:before {
        width: 100%;
        transition: width .8s ease-in-out;
      }

      .hero_join--info {
        opacity: 1;
        transition: opacity .6s ease-in-out .4s;
      }
    }

    .hero_join--info {
      position: relative;
      z-index: 3;
      width: 100%;
      max-width: 90%;
      display: flex;
      align-items: center;
      opacity: 0;
      transition: opacity .2s ease-in-out;

      .hero_join--icon {
        position: relative;
        margin-right: 25px;
        width: 20px;
      }

      .hero_join--btn {
        width: 100%;
        max-width: 70%;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        line-height: 20px;
        font-size: 20px;
      }
    }
  }
}

.new_second--hero {
  position: relative;
  width: 100%;
  height: 45.32%;
  //height: 53.80%;
  z-index: 2;
  display: flex;

  .new_second--left {
    position: relative;
    width: 51.79%;
    height: calc(100% + 18.4%);
    transform: translateY(-15.5%);

    .new_second--left_wrap {
      width: 100%;
      height: 100%;
      position: relative;

      .new_second--left_item {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        overflow: hidden;
        top: 0;
        z-index: 2;

        &:nth-child(2) {
          &:before {
            background: #eaa600;
          }
        }

        &.active {
          position: relative;
          width: 100%;
          opacity: 1;
          visibility: visible;
          z-index: 3;

          &:before {
            width: 100%;
            transition: width .8s ease-in-out;
          }

          .new_second--left_info {
            opacity: 1;
            transition: opacity .6s ease-in-out .4s;
          }
        }

        &:before {
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 100%;
          content: '';
          background: #ffd143;
          z-index: 1;
          transition: width 0s ease-in-out .8s;
        }

        .new_second--left_info {
          position: absolute;
          z-index: 5;
          display: flex;
          align-items: center;
          bottom: 20px;
          left: 20px;
          opacity: 0;
          transition: opacity .2s ease-in-out;
        }

        .new_second--left_icon {
          width: 98px;
          height: auto;
          position: relative;
          margin-right: 13px;
        }

        .new_second--left_title {
          width: 100%;
          max-width: 80%;
          font-size: 20px;
          color: #000;
          font-weight: 700;
        }
      }
    }
  }
}

.new_arrow {
  position: absolute;
  top: 46.64%;
  right: 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background: #000;

  &:hover {
    i {
      background: #fff;

      svg {
        transform: translate(-20%, -50%);

        path {
          fill: #000;
        }
      }
    }
  }

  i {
    position: relative;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
    background: transparent;
    transition: all .4s ease-in-out;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-40%, -50%);
      transition: all .4s ease-in-out;
      width: 21px;
      height: 31px;

      path {
        transition: fill .4s ease-in-out;
      }
    }
  }
}

.new_second--right {
  position: relative;
  width: calc(100% - 51.79%);
  height: 100%;

  .new_second--right_wrap {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .new_second--right_item {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    padding: 20px;
    z-index: 2;
    visibility: visible;

    &:nth-child(2) {
      &:before {
        background: #007979;
      }
    }

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      content: '';
      background: #00ffff;
      z-index: 1;
      transition: width 0s ease-in-out .8s;
    }

    &.active {
      position: relative;
      width: 100%;
      opacity: 1;
      visibility: visible;
      z-index: 3;

      .new_second--right_info {
        opacity: 1;
        transition: opacity .6s ease-in-out .4s;
      }

      &:before {
        width: 100%;
        transition: width .8s ease-in-out;
      }
    }

    .new_second--right_info {
      position: absolute;
      top: 57px;
      left: 67px;
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 50%;
      opacity: 0;
      transition: opacity .2s ease-in-out;
      z-index: 4;
    }

    .new_second--right_icon {
      width: 90px;
      height: auto;
      position: relative;
      margin-right: 20px;

      svg {
        width: 100%;
        height: auto;
        position: relative;
      }
    }

    .new_second--right_title {
      font-size: 20px;
      color: #000;
      font-weight: 700;
      width: 100%;
      max-width: 80%;
    }
  }

  .new_arrow {
    top: 13.17%;
  }
}

.m-header .container .wrapper .navigation .meta {
  background: #000;
}

.m-header .container .wrapper .navigation .meta .container .wrapper a {
  color: #fff;
}