<header class="m-header ng-scope" ng-controller="HeaderController" m-header-fixed="" ng-mouseleave="closeSubNavi($event)">
    <div class="container">
        <div class="wrapper">
            <div class="logo">
                <a href="https://www.rolandberger.com/en/" title="Roland Berger" class="logo-img">
                    <img class="mark-designation" src="https://www.rolandberger.com/img/logo.png" alt="Roland Berger">
                    <img class="blip" src="https://www.rolandberger.com/img/assets/logo-b-ti.png" alt="Roland Berger">
                </a>
                <a href="https://www.rolandberger.com/en/" title="Roland Berger" class="logo-typo">Roland Berger</a>
            </div>
            <div class="navigation" ng-class="{'is-open':navigationState}">
                <nav class="main">
                    <a title="Expertise" class="toplevel ng-scope" m-header-megamenu="" c-toggle="nav-expertise">
			<span>Expertise
				<svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                </svg></span></a>
                    <ul class="subnav" id="nav-expertise-small">
                        <li class="back secondlevel ng-scope" m-header-megamenu-back="">
                            <svg class="icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                            </svg>
                            Back
                        </li>
                        <li class="hl">
                                <span class="hl secondlevel ng-scope" m-header-megamenu-secondlevel="">
                                    Industries
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                                    </svg>
                                </span>
                            <ul class="thirdlevel subnav">
                                <li class="back thirdlevel ng-scope" m-header-megamenu-back="">
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                                    </svg>
                                    Back
                                </li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Aerospace-Defense/">Aerospace &amp; Defense</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Automotive/">Automotive</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Chemicals/">Chemicals</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Civil-Economics/">Civil Economics</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Construction/">Construction</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Consumer-Goods-Retail-Agribusiness/">Consumer Goods, Retail &amp; Agribusiness</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Energy-Utilities/">Energy &amp; Utilities</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Financial-Services/">Financial Services</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Industrial-Products-Services/">Industrial Products &amp; Services</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Infrastructure/">Infrastructure</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Pharma-Healthcare/">Pharma &amp; Healthcare</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Technology-Media-Telcos/">Technology, Media &amp; Telcos</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Transportation/">Transportation, Tourism &amp; Logistics</a></li>
                            </ul></li>
                        <li class="hl">
                                <span class="hl secondlevel ng-scope" m-header-megamenu-secondlevel="">
                                    Business Functions
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                                    </svg>
                                </span>
                            <ul class="thirdlevel subnav">
                                <li class="back thirdlevel ng-scope" m-header-megamenu-back="">
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                                    </svg>
                                    Back
                                </li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Business-Functions/Roland-Berger-Digital/">Roland Berger Digital</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Business-Functions/Information-Management/">IT Transformation</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Business-Functions/Operations/">Operations</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Business-Functions/Restructuring-Performance-Transformation-Transaction/">Restructuring, Performance, Transformation &amp; Transaction</a></li>
                                <li><a href="https://www.rolandberger.com/en/Expertise/Business-Functions/Sales-Marketing/">Sales &amp; Marketing</a></li>
                            </ul></li>
                    </ul>
                    <a title="Insights" class="toplevel ng-scope" m-header-megamenu="" c-toggle="nav-insights">
			<span>Insights
				<svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                </svg></span></a>
                    <ul class="subnav" id="nav-insights-small">
                        <li class="back secondlevel ng-scope" m-header-megamenu-back="">
                            <svg class="icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                            </svg>
                            Back
                        </li>
                        <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Hydrogen/">Bringing hydrogen into the mix</a></li>
                        <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Coronavirus-business-response/">Managing The Coronavirus Crisis</a></li>
                        <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Center-for-Smart-Mobility/">Center for Smart Mobility</a></li>
                        <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Automotive-Disruption/">Automotive Disruption</a></li>
                        <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Smart-Cities/">Smart Cities</a></li>
                        <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Procurement-Endgame/">Procurement Endgame</a></li>
                        <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Electric-Propulsion/">Aircraft Electrical Propulsion </a></li>
                        <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Artificial-Intelligence/">Artificial Intelligence</a></li>
                        <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Terra-Numerata/">Terra Numerata</a></li>
                        <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Trend-Compendium/">Trend Compendium</a></li>
                        <li class="more-left">
                            <a href="https://www.rolandberger.com/en/Insights/Global-Topics/">
                                <div class="next">
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                                    </svg>
                                </div>
                                Read more Global Topics
                            </a>
                        </li>
                    </ul>
                    <a title="About" class="toplevel ng-scope" m-header-megamenu="" c-toggle="nav-about">
			<span>About
				<svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                </svg></span></a>
                    <ul class="subnav" id="nav-about-small">
                        <li class="back secondlevel ng-scope" m-header-megamenu-back="">
                            <svg class="icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                            </svg>
                            Back
                        </li>
                        <li><a href="https://www.rolandberger.com/en/About/Our-Values/">Our Values</a></li>
                        <li><a href="https://www.rolandberger.com/en/About/Management/">Management</a></li>
                        <li><a href="https://www.rolandberger.com/en/About/People/">People</a></li>
                        <li><a href="https://www.rolandberger.com/en/About/Network/">Network</a></li>
                        <li><a href="https://www.rolandberger.com/en/About/Offices/">International Offices</a></li>
                        <li><a href="https://www.rolandberger.com/en/About/Events/">Upcoming Events</a></li>
                    </ul>
                    <a title="Join" class="toplevel ng-scope" m-header-megamenu="" c-toggle="nav-join">
			<span>Join
				<svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                </svg></span></a>
                    <ul class="subnav" id="nav-join-small">
                        <li class="back secondlevel ng-scope" m-header-megamenu-back="">
                            <svg class="icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                            </svg>
                            Back
                        </li>
                        <li class="hl">
                                <span class="hl secondlevel ng-scope" m-header-megamenu-secondlevel="">
                                    Join Us
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                                    </svg>
                                </span>
                            <ul class="thirdlevel subnav">
                                <li class="back thirdlevel ng-scope" m-header-megamenu-back="">
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                                    </svg>
                                    Back
                                </li>
                                <li><a href="https://www.rolandberger.com/en/Join/Join-Us/Start-Your-Journey/">Start Your Journey</a></li>
                                <li><a href="https://www.rolandberger.com/en/Join/Join-Us/Your-Development/">Your Development</a></li>
                                <li><a href="https://www.rolandberger.com/en/Join/Join-Us/Our-Culture/">Our Culture</a></li>
                                <li><a href="https://www.rolandberger.com/en/Join/Join-Us/Be-The-Original-You/">Be the Original You.</a></li>
                                <li><a href="https://www.rolandberger.com/en/Join/Join-Us/Events/">Events </a></li>
                                <li><a href="https://www.rolandberger.com/en/Join/Join-Us/Why-Roland-Berger/">Why Roland Berger</a></li>
                                <li><a href="https://www.rolandberger.com/en/Join/Join-Us/FAQ/">FAQ</a></li>
                                <li><a href="https://www.rolandberger.com/en/Join/Join-Us/Contact-Us/">Contact Us</a></li>
                            </ul></li>
                        <li class="hl">
                                <span class="hl secondlevel ng-scope" m-header-megamenu-secondlevel="">
                                    Your Opportunity
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                                    </svg>
                                </span>
                            <ul class="thirdlevel subnav">
                                <li class="back thirdlevel ng-scope" m-header-megamenu-back="">
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                                    </svg>
                                    Back
                                </li>
                                <li><a href="https://www.rolandberger.com/en/Join/Your-Opportunity/Career-Starter/">Career Starter</a></li>
                                <li><a href="https://www.rolandberger.com/en/Join/Your-Opportunity/Professionals/">Professionals</a></li>
                                <li><a href="https://www.rolandberger.com/en/Join/Your-Opportunity/Non-Consulting/">Non-Consulting</a></li>
                            </ul></li>
                    </ul>
                </nav>
                <nav class="meta">
                    <div class="container">
                        <div class="wrapper">
                            <div class="meta-links">
                                <a href="https://rolandberger-com.mynewsdesk.com/" title="Newsroom" target="_blank"><span class="text">Newsroom</span> </a>
                                <a href="https://www.rolandberger.com/en/Think-Act-Magazine.html" target="_self"><span class="desktopView">Think:Act Magazine</span> <span class="mobileView">Think:Act Magazine</span></a><a href="https://alumni.rolandberger.com" target="_blank"><span class="text">Alumni</span> </a>
                                <a href="https://www.rolandberger.com/en/contact/" target="_self"><span class="desktopView">Contact Us</span> <span class="mobileView">Contact Us</span></a>
                            </div>
                            <div ng-controller="FooterController" class="language ng-scope">
                                <!-- ngIf: fc.readCountryFromCookie() --><div class="ng-scope" ng-if="fc.readCountryFromCookie()">
                                <a class="lng" href="" title="English, USA" ng-click="openLayer('language')">
                                    <svg class="icon world">
                                        <use xlink:href="https://www.rolandberger.com/img/icons.svg#world"></use>
                                    </svg>
                                    <span class="text ng-binding">
                	                	EN, USA
                	                </span>
                                    <svg class="icon arrow">
                                        <use xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thin"></use>
                                    </svg>
                                </a>
                            </div><!-- end ngIf: fc.readCountryFromCookie() -->
                                <!-- ngIf: !fc.readCountryFromCookie() -->
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <a href="https://www.rolandberger.com/en/Search.html" class="search" title="Search">
                <svg class="icon magnifier">
                    <use xlink:href="https://www.rolandberger.com/img/icons.svg#magnifier"></use>
                </svg>
            </a>
            <a href="https://content.rolandberger.com/en/email-preferences" class="notification" title="Notification">
                <svg class="icon bell">
                    <use xlink:href="https://www.rolandberger.com/img/icons.svg#bell"></use>
                </svg>
                <span class="count">
                    99
                </span>
            </a>
            <div class="quicksearch-wrapper">
                <div class="quicksearch" ng-class="{'is-active': quicksearchStage}">
                    <a class="button" href="" ng-click="toggleQuickSearch()">
                        <svg class="icon angle-small">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle_small"></use>
                        </svg>
                        <span class="text">Jobs</span>
                    </a>
                    <!-- ngIf: quicksearchStage -->
                </div>
            </div>
            <!-- mobile menu -->
            <div class="menu" ng-class="{'is-active':navigationState}">
                <a href="" title="Menu" ng-click="toggleNavigation($event)">
                    <svg class="icon icon-cross">
                        <use xlink:href="https://www.rolandberger.com/img/icons.svg#cross"></use>
                    </svg>
                    <svg class="icon icon-burger">
                        <use xlink:href="https://www.rolandberger.com/img/icons.svg#burger-menu"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <!-- subnavi items -->
    <nav id="nav-expertise" class="subnav container">
        <a href="" title="" class="close" ng-click="closeNavigation()">
            <svg class="icon">
                <use xlink:href="https://www.rolandberger.com/img/icons.svg#cross"></use>
            </svg>
        </a>
        <div class="wrapper bg–none subnav-wrapper" style="height: 648px;">
            <ul class="navpart bg-yellow subnav">
                <li class="hl"><span class="hl">Industries</span><ul>
                    <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Aerospace-Defense/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Aerospace &amp; Defense" title="Aerospace &amp; Defense">Aerospace &amp; Defense</a></li>
                    <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Automotive/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Automotive" title="Automotive">Automotive</a></li>
                    <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Chemicals/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Chemicals" title="Chemicals">Chemicals</a></li>
                    <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Civil-Economics/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Civil Economics" title="Civil Economics">Civil Economics</a></li>
                    <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Construction/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Construction" title="Construction">Construction</a></li>
                    <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Consumer-Goods-Retail-Agribusiness/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Consumer Goods, Retail &amp; Agribusiness" title="Consumer Goods, Retail &amp; Agribusiness">Consumer Goods, Retail &amp; Agribusiness</a></li>
                    <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Energy-Utilities/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Energy &amp; Utilities" title="Energy &amp; Utilities">Energy &amp; Utilities</a></li>
                    <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Financial-Services/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Financial Services" title="Financial Services">Financial Services</a></li>
                    <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Industrial-Products-Services/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Industrial Products &amp; Services" title="Industrial Products &amp; Services">Industrial Products &amp; Services</a></li>
                    <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Infrastructure/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Infrastructure" title="Infrastructure">Infrastructure</a></li>
                    <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Pharma-Healthcare/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Pharma &amp; Healthcare" title="Pharma &amp; Healthcare">Pharma &amp; Healthcare</a></li>
                    <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Technology-Media-Telcos/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Technology, Media &amp; Telcos" title="Technology, Media &amp; Telcos">Technology, Media &amp; Telcos</a></li>
                    <li><a href="https://www.rolandberger.com/en/Expertise/Industries/Transportation/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Transportation, Tourism &amp; Logistics" title="Transportation, Tourism &amp; Logistics">Transportation, Tourism &amp; Logistics</a></li>
                </ul></li></ul><ul class="navpart bg-yellow subnav">

            <li class="hl"><span class="hl">Business Functions</span><ul>
                <li><a href="https://www.rolandberger.com/en/Expertise/Business-Functions/Roland-Berger-Digital/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Roland Berger Digital" title="Roland Berger Digital">Roland Berger Digital</a></li>
                <li><a href="https://www.rolandberger.com/en/Expertise/Business-Functions/Information-Management/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="IT Transformation" title="IT Transformation">IT Transformation</a></li>
                <li><a href="https://www.rolandberger.com/en/Expertise/Business-Functions/Operations/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Operations" title="Operations">Operations</a></li>
                <li><a href="https://www.rolandberger.com/en/Expertise/Business-Functions/Restructuring-Performance-Transformation-Transaction/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Restructuring, Performance, Transformation &amp; Transaction" title="Restructuring, Performance, Transformation &amp; Transaction">Restructuring, Performance, Transformation &amp; Transaction</a></li>
                <li><a href="https://www.rolandberger.com/en/Expertise/Business-Functions/Sales-Marketing/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Sales &amp; Marketing" title="Sales &amp; Marketing">Sales &amp; Marketing</a></li>
            </ul></li>
        </ul>
            <ul class="navpart bg-white articles">
                <li class="hl"><span class="hl">Latest Studies</span>
                </li>
                <li dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Sustainarama – How sustainability will change the world in 2050">
                    <figure><a href="https://www.rolandberger.com/en/Publications/Sustainarama-How-sustainability-will-change-the-world-in-2050.html">
                        <!--
                        -->
                        <img class="lazyloaded ng-scope" data-src="https://img.rolandberger.com/img/Tiles/Roland_Berger_644_sustainibility_scenarios_ST_related_content.jpg" alt="Cover of publication" copyright="Illustration: Adrian Bauer" src="https://img.rolandberger.com/img/Tiles/Roland_Berger_644_sustainibility_scenarios_ST_related_content.jpg">
                    </a>
                        <figcaption>
                            <div class="details">
                                <h6><a href="https://www.rolandberger.com/en/Publications/Sustainarama-How-sustainability-will-change-the-world-in-2050.html">Sustainarama – How sustainability will change the world in 2050</a></h6>
                                <a href="https://www.rolandberger.com/en/Persons/Christian.B%C3%B6hler.html" style="font-style:italic;">Christian Böhler</a><br>
                                <a href="https://www.rolandberger.com/en/Persons/Matthias.Ermer.html" style="font-style:italic;">Matthias Ermer</a><br>
                                <a href="https://www.rolandberger.com/en/Persons/Hannah.Z%C3%BChlke.html" style="font-style:italic;">Hannah Zühlke</a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Packaging sustainability 2030">
                    <figure><a href="https://www.rolandberger.com/en/Publications/Packaging-sustainability-2030.html">
                        <!--
                        -->
                        <img class=" ng-scope lazyloaded" data-src="https://img.rolandberger.com/img/Tiles/Roland_Berger_ART_369_Packaging_Sustainability_(Romania)_IT_related_content.jpg" alt="Cover of publication" copyright="koron/GettyImages" src="https://img.rolandberger.com/img/Tiles/Roland_Berger_ART_369_Packaging_Sustainability_(Romania)_IT_related_content.jpg">
                    </a>
                        <figcaption>
                            <div class="details">
                                <h6><a href="https://www.rolandberger.com/en/Publications/Packaging-sustainability-2030.html">Packaging sustainability 2030</a></h6>
                                <a href="https://www.rolandberger.com/en/Persons/Szabolcs.Nemes.html" style="font-style:italic;">Szabolcs Nemes</a><br>
                                <a href="https://www.rolandberger.com/en/Persons/Hani.Tohme.html" style="font-style:italic;">Hani Tohme</a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="UNIFE World Rail Market 2020">
                    <figure><a href="https://www.rolandberger.com/en/Publications/UNIFE-World-Rail-Market-2020.html">
                        <!--
                        -->
                        <img class=" ng-scope lazyloaded" data-src="https://img.rolandberger.com/img/Tiles/640_roland_berger_unife_world_rail_market_2020_st_related_content.jpg" alt="Cover of publication" copyright="ipopba/iStock" src="https://img.rolandberger.com/img/Tiles/640_roland_berger_unife_world_rail_market_2020_st_related_content.jpg">
                    </a>
                        <figcaption>
                            <div class="details">
                                <h6><a href="https://www.rolandberger.com/en/Publications/UNIFE-World-Rail-Market-2020.html">UNIFE World Rail Market 2020</a></h6>
                                <a href="https://www.rolandberger.com/en/Persons/Andreas.Schwilling.html" style="font-style:italic;">Andreas Schwilling</a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="more-left">
                    <a href="https://www.rolandberger.com/en/Publications/" dl-event="megamenuInteraction" dl-navigation-l1="Expertise" dl-navigation-l2="Read More Studies" class="no-underline">
                        <div class="next bg-yellow">
                            <svg class="icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#arrow"></use>
                            </svg>
                        </div>
                        Read More Studies
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <nav id="nav-insights" class="subnav container">
        <a href="" title="" class="close" ng-click="closeNavigation()">
            <svg class="icon">
                <use xlink:href="https://www.rolandberger.com/img/icons.svg#cross"></use>
            </svg>
        </a>
        <div class="wrapper bg–none subnav-wrapper" style="height: 648px;">
            <ul class="navpart bg-green subnav">
                <li class="hl"><span class="hl">Global Topics</span><ul>
                    <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Hydrogen/" dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Bringing hydrogen into the mix" title="Bringing hydrogen into the mix">Bringing hydrogen into the mix</a></li>
                    <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Coronavirus-business-response/" dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Managing The Coronavirus Crisis" title="Managing The Coronavirus Crisis">Managing The Coronavirus Crisis</a></li>
                    <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Center-for-Smart-Mobility/" dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Center for Smart Mobility" title="Center for Smart Mobility">Center for Smart Mobility</a></li>
                    <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Automotive-Disruption/" dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Automotive Disruption" title="Automotive Disruption">Automotive Disruption</a></li>
                    <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Smart-Cities/" dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Smart Cities" title="Smart Cities">Smart Cities</a></li>
                    <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Procurement-Endgame/" dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Procurement Endgame" title="Procurement Endgame">Procurement Endgame</a></li>
                    <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Electric-Propulsion/" dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Aircraft Electrical Propulsion " title="Aircraft Electrical Propulsion ">Aircraft Electrical Propulsion </a></li>
                    <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Artificial-Intelligence/" dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Artificial Intelligence" title="Artificial Intelligence">Artificial Intelligence</a></li>
                    <li><a href="https://www.rolandberger.com/en/Insights/Global-Topics/Terra-Numerata/" dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Terra Numerata" title="Terra Numerata">Terra Numerata</a></li>
                    <li class="more-left">
                        <a href="https://www.rolandberger.com/en/Insights/Global-Topics/" dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Read more Global Topics" class="no-underline">
                            <div class="next">
                                <svg class="icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#arrow"></use>
                                </svg>
                            </div>
                            Read more Global Topics
                        </a>
                    </li>
                </ul></li>
            </ul>
            <ul class="navpart bg-white secondlinks">
                <li class="hl more-right">
                    <a href="https://www.rolandberger.com/en/Think-Act-Magazine.html" dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Think:Act Magazine" class="hl more-right no-underline">Think:Act Magazine
                        <div class="next bg-green">
                            <svg class="icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#arrow"></use>
                            </svg>
                        </div>
                    </a>
                    <p>Global thought leadership to help you navigate complexity</p>
                </li>
                <li class="hl more-right">
                    <a href="https://content.rolandberger.com/en/email-preferences" dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Notifications" class="hl more-right no-underline">Notifications
                        <div class="next bg-green">
                            <svg class="icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#arrow"></use>
                            </svg>
                        </div>
                    </a>
                    <p>Subscribe today to our comprehensive Roland Berger highlights</p>
                </li>
                <li class="hl border-top">
                </li>
            </ul>
            <ul class="navpart bg-white articles">
                <li class="hl"><span class="hl">Articles</span>
                </li>
                <li dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="A Hitchhiker's Guide to the post-pandemic-era">
                    <figure><a href="https://www.rolandberger.com/en/Point-of-View/A-Hitchhiker's-Guide-to-the-post-pandemic-era.html">
                        <!--
                        -->
                        <img class="ng-scope lazyloaded" data-src="https://img.rolandberger.com/img/Tiles/ta32_issue_lp_tile_worldwide_related_content.jpg" alt="Image of article" copyright="Joe Waldron and Joe McKendry" src="https://img.rolandberger.com/img/Tiles/ta32_issue_lp_tile_worldwide_related_content.jpg">
                    </a>
                        <figcaption>
                            <div class="details">
                                <h6><a href="https://www.rolandberger.com/en/Point-of-View/A-Hitchhiker's-Guide-to-the-post-pandemic-era.html">A Hitchhiker's Guide to the post-pandemic-era</a></h6>
                                <a href="https://www.rolandberger.com/en/Persons/Think-Act.Magazine.html" style="font-style:italic;">Think:Act Magazine</a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Tracking air quality for better action-plans in cities">
                    <figure><a href="https://www.rolandberger.com/en/Point-of-View/Tracking-air-quality-for-better-action-plans-in-cities.html">
                        <!--
                        -->
                        <img class="ng-scope lazyloaded" data-src="https://img.rolandberger.com/img/Tiles/373_roland_berger_breeze_technologies_st_1_related_content.jpg" alt="Image of article" copyright="Breeze Technologies" src="https://img.rolandberger.com/img/Tiles/373_roland_berger_breeze_technologies_st_1_related_content.jpg">
                    </a>
                        <figcaption>
                            <div class="details">
                                <h6><a href="https://www.rolandberger.com/en/Point-of-View/Tracking-air-quality-for-better-action-plans-in-cities.html">Tracking air quality for better action-plans in cities</a></h6>
                                <a href="https://www.rolandberger.com/en/Persons/Kai-Stefan.Schober.html" style="font-style:italic;">Kai-Stefan Schober</a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Urban Air Mobility: Shaping the future of mobility">
                    <figure><a href="https://www.rolandberger.com/en/Point-of-View/Urban-Air-Mobility-Shaping-the-future-of-mobility.html">
                        <!--
                        -->
                        <img class="ng-scope lazyloaded" data-src="https://img.rolandberger.com/img/Tiles/380_Roland_Berger_Urban_Air_Mobility_Pam_Cohn_ST_related_content.jpg" alt="Image of article" copyright="Hyundai" src="https://img.rolandberger.com/img/Tiles/380_Roland_Berger_Urban_Air_Mobility_Pam_Cohn_ST_related_content.jpg">
                    </a>
                        <figcaption>
                            <div class="details">
                                <h6><a href="https://www.rolandberger.com/en/Point-of-View/Urban-Air-Mobility-Shaping-the-future-of-mobility.html">Urban Air Mobility: Shaping the future of mobility</a></h6>
                                <a href="https://www.rolandberger.com/en/Persons/Manfred.Hader.html" style="font-style:italic;">Manfred Hader</a><br>
                                <a href="https://www.rolandberger.com/en/Persons/Stephan-.Baur.html" style="font-style:italic;">Stephan Baur</a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="more-left">
                    <a href="https://www.rolandberger.com/en/Point-of-View/" dl-event="megamenuInteraction" dl-navigation-l1="Insights" dl-navigation-l2="Read more articles" class="no-underline">
                        <div class="next bg-green">
                            <svg class="icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#arrow"></use>
                            </svg>
                        </div>
                        Read more articles
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <nav id="nav-about" class="subnav container">
        <a href="" title="" class="close" ng-click="closeNavigation()">
            <svg class="icon">
                <use xlink:href="https://www.rolandberger.com/img/icons.svg#cross"></use>
            </svg>
        </a>
        <div class="wrapper bg–none subnav-wrapper" style="height: 648px;">
            <ul class="navpart bg-blue subnav">
                <li class="hl"><span class="hl">Who we are</span><ul>
                    <li><a href="https://www.rolandberger.com/en/About/Our-Company/" dl-event="megamenuInteraction" dl-navigation-l1="About" dl-navigation-l2="Our Company" title="Our Company">Our Company</a></li>
                    <li><a href="https://www.rolandberger.com/en/About/Our-Values/" dl-event="megamenuInteraction" dl-navigation-l1="About" dl-navigation-l2="Our Values" title="Our Values">Our Values</a></li>
                    <li><a href="https://www.rolandberger.com/en/About/Management/" dl-event="megamenuInteraction" dl-navigation-l1="About" dl-navigation-l2="Management" title="Management">Management</a></li>
                    <li><a href="https://www.rolandberger.com/en/About/People/" dl-event="megamenuInteraction" dl-navigation-l1="About" dl-navigation-l2="People" title="People">People</a></li>
                    <li><a href="https://www.rolandberger.com/en/About/Network/" dl-event="megamenuInteraction" dl-navigation-l1="About" dl-navigation-l2="Network" title="Network">Network</a></li>
                    <li><a href="https://www.rolandberger.com/en/About/Offices/" dl-event="megamenuInteraction" dl-navigation-l1="About" dl-navigation-l2="International Offices" title="International Offices">International Offices</a></li>
                </ul></li>
            </ul>
            <ul class="navpart bg-white col-2">
                <li class="hl"><span class="hl">Upcoming International Events</span>
                </li>
                <li>
                    <div class="m-about-list">
                        <div class="container">
                            <ul class="list">
                                <li dl-event="megamenuInteraction" dl-navigation-l1="About" dl-navigation-l2="Comprehensive product innovation in Additive Manufacturing | Webinar">
                                    <div class="list-item">
                                        <div class="event-image">
                                            <a href="https://content.rolandberger.com/webinar-product-innovation-in-am" target="_blank">
                                                <!--
                                                -->
                                                <img class=" lazyloaded" data-src="https://img.rolandberger.com/img/Tiles/RB_DIG_20_004_035_EOS_and_RB_ST_850x520_related_content.png" alt="Image of event" src="https://img.rolandberger.com/img/Tiles/RB_DIG_20_004_035_EOS_and_RB_ST_850x520_related_content.png">
                                            </a>
                                        </div>
                                        <div class="meta">
                                            <div class="date">November 9, 2020</div>
                                        </div>
                                        <div class="content">
                                            <h2 class="headline">
                                                <a href="https://content.rolandberger.com/webinar-product-innovation-in-am" target="_blank">Comprehensive product innovation in Additive Manufacturing | Webinar</a>
                                            </h2>
                                            <div class="subline">
                                                <p class="c-text-paragraph ">Together with Detlef Scholz from 3D printing pioneer EOS, our Partner <a href="https://www.rolandberger.com/en/Persons/Bernhard.Langefeld.html"> Bernhard Langefeld</a> speaks on the newest development in the Additive Manufacturing industry and highlights a different perspective on new AM business models and AM use cases leveraging new models, processes and developments.</p>
                                            </div>
                                            <p class="duration">
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li dl-event="megamenuInteraction" dl-navigation-l1="About" dl-navigation-l2="FinTalks with Bahrain FinTech Bay | Webinar">
                                    <div class="list-item">
                                        <div class="event-image">
                                            <a href="https://us02web.zoom.us/webinar/register/7216038919906/WN_g4YT3iNGQ4ShT3zmkCxxkA" target="_blank">
                                                <!--
                                                -->
                                                <img class="ng-scope lazyloaded" data-src="https://img.rolandberger.com/img/Tiles/roland_berger_event_virtuell_st_related_content.jpg" alt="Image of event" copyright="sakkmesterke / iStockphoto; archy13 / iStockphoto; CTRd / Getty Images" src="https://img.rolandberger.com/img/Tiles/roland_berger_event_virtuell_st_related_content.jpg">
                                            </a>
                                        </div>
                                        <div class="meta">
                                            <div class="date">November 10, 2020</div>
                                        </div>
                                        <div class="content">
                                            <h2 class="headline">
                                                <a href="https://us02web.zoom.us/webinar/register/7216038919906/WN_g4YT3iNGQ4ShT3zmkCxxkA" target="_blank">FinTalks with Bahrain FinTech Bay | Webinar</a>
                                            </h2>
                                            <div class="subline">
                                                <p class="c-text-paragraph ">In a joint webinar, our Partner <a href="https://www.rolandberger.com/en/Persons/Andreas.Buelow.html"> Andreas Buelow</a> and founder of "The CareVoice" Sebastian Gaudin, discuss The CareVoice’s experience in pushing the boundaries of health insurance in Asia. Gain different perspectives about health (eco-)systems and how digital companies can drive the development of the insurance sector.</p>
                                            </div>
                                            <p class="duration">
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li dl-event="megamenuInteraction" dl-navigation-l1="About" dl-navigation-l2="Mediatech Hub Conference | Online">
                                    <div class="list-item">
                                        <div class="event-image">
                                            <a href="https://www.mth-conference.de/" target="_blank">
                                                <!--
                                                -->
                                                <img class=" lazyloaded" data-src="https://img.rolandberger.com/img/Tiles/RB_DIG_20_004_031_MediaTechHubConference_ST_850x520_related_content.png" alt="Image of event" src="https://img.rolandberger.com/img/Tiles/RB_DIG_20_004_031_MediaTechHubConference_ST_850x520_related_content.png">
                                            </a>
                                        </div>
                                        <div class="meta">
                                            <div class="date">November 12, 2020</div>
                                        </div>
                                        <div class="content">
                                            <h2 class="headline">
                                                <a href="https://www.mth-conference.de/" target="_blank">Mediatech Hub Conference | Online</a>
                                            </h2>
                                            <div class="subline">
                                                <p class="c-text-paragraph ">Together with our experts, <a href="https://www.rolandberger.com/en/Persons/Jan-Philipp.Hasenberg.html"> Jan-Philipp Hasenberg</a> and <a href="https://www.rolandberger.com/en/Persons/Tobias.Sch%C3%B6nberg.html"> Tobias Schönberg</a>, develop options for action for sustainable micromobility and better integration into the urban transport system.<br>Event duration: November 11, 2020 - November 12, 2020</p>
                                            </div>
                                            <p class="duration">
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="more">
                                    <div class="content">
                                        <a href="https://www.rolandberger.com/en/About/Events/" dl-event="megamenuInteraction" dl-navigation-l1="About" dl-navigation-l2="More Events" class="hl more-left no-underline" style="width: 33%; float: left;">
                                            <div class="next bg-blue">
                                                <svg class="icon">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#arrow"></use>
                                                </svg>
                                            </div>
                                            More Events
                                        </a>
                                        <a href="https://www.rolandberger.com/en/About/Events/Recent-Events.html" dl-event="megamenuInteraction" dl-navigation-l1="About" dl-navigation-l2="Recent Events" class="hl more-left no-underline" style="width: 33%; float: left;">
                                            <div class="next bg-blue">
                                                <svg class="icon">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#arrow"></use>
                                                </svg>
                                            </div>
                                            Recent Events
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav id="nav-join" class="subnav container">
        <a href="" title="" class="close" ng-click="closeNavigation()">
            <svg class="icon">
                <use xlink:href="https://www.rolandberger.com/img/icons.svg#cross"></use>
            </svg>
        </a>
        <div class="wrapper bg–none subnav-wrapper" style="height: 648px;">
            <ul class="navpart bg-pink subnav">
                <li class="hl"><span class="hl">Join Us</span><ul>
                    <li><a href="https://www.rolandberger.com/en/Join/Join-Us/Start-Your-Journey/" dl-event="megamenuInteraction" dl-navigation-l1="Join" dl-navigation-l2="Start Your Journey" title="Start Your Journey">Start Your Journey</a></li>
                    <li><a href="https://www.rolandberger.com/en/Join/Join-Us/Your-Development/" dl-event="megamenuInteraction" dl-navigation-l1="Join" dl-navigation-l2="Your Development" title="Your Development">Your Development</a></li>
                    <li><a href="https://www.rolandberger.com/en/Join/Join-Us/Our-Culture/" dl-event="megamenuInteraction" dl-navigation-l1="Join" dl-navigation-l2="Our Culture" title="Our Culture">Our Culture</a></li>
                    <li><a href="https://www.rolandberger.com/en/Join/Join-Us/Be-The-Original-You/" dl-event="megamenuInteraction" dl-navigation-l1="Join" dl-navigation-l2="Be the Original You." title="Be the Original You.">Be the Original You.</a></li>
                    <li><a href="https://www.rolandberger.com/en/Join/Join-Us/Events/" dl-event="megamenuInteraction" dl-navigation-l1="Join" dl-navigation-l2="Events " title="Events ">Events </a></li>
                    <li><a href="https://www.rolandberger.com/en/Join/Join-Us/Why-Roland-Berger/" dl-event="megamenuInteraction" dl-navigation-l1="Join" dl-navigation-l2="Why Roland Berger" title="Why Roland Berger">Why Roland Berger</a></li>
                    <li><a href="https://www.rolandberger.com/en/Join/Join-Us/FAQ/" dl-event="megamenuInteraction" dl-navigation-l1="Join" dl-navigation-l2="FAQ" title="FAQ">FAQ</a></li>
                    <li><a href="https://www.rolandberger.com/en/Join/Join-Us/Contact-Us/" dl-event="megamenuInteraction" dl-navigation-l1="Join" dl-navigation-l2="Contact Us" title="Contact Us">Contact Us</a></li>
                </ul></li><li class="hl"><span class="hl">Your Opportunity</span><ul>
                <li><a href="https://www.rolandberger.com/en/Join/Your-Opportunity/Career-Starter/" dl-event="megamenuInteraction" dl-navigation-l1="Join" dl-navigation-l2="Career Starter" title="Career Starter">Career Starter</a></li>
                <li><a href="https://www.rolandberger.com/en/Join/Your-Opportunity/Professionals/" dl-event="megamenuInteraction" dl-navigation-l1="Join" dl-navigation-l2="Professionals" title="Professionals">Professionals</a></li>
                <li><a href="https://www.rolandberger.com/en/Join/Your-Opportunity/Non-Consulting/" dl-event="megamenuInteraction" dl-navigation-l1="Join" dl-navigation-l2="Non-Consulting" title="Non-Consulting">Non-Consulting</a></li>
            </ul></li>
            </ul>


            <ul class="navpart bg-white articles">
                <li class="hl"><span class="hl">Look behind the scenes</span>
                </li>
                <li dl-event="megamenuInteraction" dl-navigation-l1="Join" dl-navigation-l2="Peter: Short introduction">
                    <figure><a href="https://www.rolandberger.com/en/Join/Blog/Peter-Short-introduction.html">
                        <!--
                        -->
                        <img class="ng-scope lazyloaded" data-src="https://img.rolandberger.com/img/Tiles/01_Blog_JOIN_Roland_Berger_Hiking_ST_related_content.jpg" alt="" copyright="Roland Berger" src="https://img.rolandberger.com/img/Tiles/01_Blog_JOIN_Roland_Berger_Hiking_ST_related_content.jpg">
                    </a>
                        <figcaption>
                            <div class="details">
                                <h6><a href="https://www.rolandberger.com/en/Join/Blog/Peter-Short-introduction.html">Peter: Short introduction</a></h6>
                                <a href="https://www.rolandberger.com/en/Join/Blog/Peter.html" style="font-style:italic;">Peter</a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li dl-event="megamenuInteraction" dl-navigation-l1="Join" dl-navigation-l2="Rob: a special COVID-19 project">
                    <figure><a href="https://www.rolandberger.com/en/Join/Blog/Rob-a-special-COVID-19-project.html">
                        <!--
                        -->
                        <img class="ng-scope lazyloaded" data-src="https://img.rolandberger.com/img/Tiles/01_Blog_JOIN_Roland_Berger_Rob_ST_related_content.jpg" alt="" copyright="Roland Berger" src="https://img.rolandberger.com/img/Tiles/01_Blog_JOIN_Roland_Berger_Rob_ST_related_content.jpg">
                    </a>
                        <figcaption>
                            <div class="details">
                                <h6><a href="https://www.rolandberger.com/en/Join/Blog/Rob-a-special-COVID-19-project.html">Rob: a special COVID-19 project</a></h6>
                                <a href="https://www.rolandberger.com/en/Join/Blog/Join-Blog-Author-Details_52352.html" style="font-style:italic;">Guest blogger</a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li dl-event="megamenuInteraction" dl-navigation-l1="Join" dl-navigation-l2="Anatcha: Why pride is even more important now">
                    <figure><a href="https://www.rolandberger.com/en/Join/Blog/Anatcha-Why-pride-is-even-more-important-now.html">
                        <!--
                        -->
                        <img class="ng-scope lazyloaded" data-src="https://img.rolandberger.com/img/Tiles/01_Blog_JOIN_Roland_Berger_Anatcha_PrideWeek_ST_related_content.jpg" alt="" copyright="Roland Berger" src="https://img.rolandberger.com/img/Tiles/01_Blog_JOIN_Roland_Berger_Anatcha_PrideWeek_ST_related_content.jpg">
                    </a>
                        <figcaption>
                            <div class="details">
                                <h6><a href="https://www.rolandberger.com/en/Join/Blog/Anatcha-Why-pride-is-even-more-important-now.html">Anatcha: Why pride is even more important now</a></h6>
                                <a href="https://www.rolandberger.com/en/Join/Blog/Join-Blog-Author-Details_52352.html" style="font-style:italic;">Guest blogger</a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="more-left">
                    <a href="https://www.rolandberger.com/en/Join/Blog/JOIN-Blog.html" class="no-underline">
                        <div class="next bg-pink">
                            <svg class="icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#arrow"></use>
                            </svg>
                        </div>
                        More Blogposts
                    </a>
                </li>
            </ul>
            <ul class="navpart bg-white">
                <li class="hl"><span class="hl">Search for jobs</span>
                </li>
                <li>
                    <!-- ngIf: !quicksearchStage --><form ng-if="!quicksearchStage" ng-controller="NoUrlChangeAggregationController" m-filter-settings="quicksearch" ng-submit="vm.onSubmit($event)" class="ng-pristine ng-valid ng-scope" action="https://www.rolandberger.com/en/Join/All-Jobs/" method="GET" novalidate="">
                    <!-- ngRepeat: filterCategory in vm.filterData.filterCategories --><div class="form-group ng-scope" ng-repeat="filterCategory in vm.filterData.filterCategories">
                    <div class="c-form-select type-default">
                        <select name="countries.EN" aria-label="Select" ng-model="vm.selection[filterCategory.field]" ng-change="vm.selectboxChanged(filterCategory, vm.selection[filterCategory.field])" class="ng-pristine ng-untouched ng-valid ng-empty">
                            <option value="" class="ng-binding">Select: Country</option>
                            <!-- ngIf: filterCategory.noselection --><option ng-if="filterCategory.noselection" value="" class="ng-binding ng-scope" selected="selected">All</option><!-- end ngIf: filterCategory.noselection -->
                            <!-- ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Austria" class="ng-binding ng-scope" style="">Austria
                            (4)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Belgium" class="ng-binding ng-scope">Belgium
                            (5)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Brazil" class="ng-binding ng-scope">Brazil
                            (1)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="France" class="ng-binding ng-scope">France
                            (7)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Germany" class="ng-binding ng-scope">Germany
                            (26)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Greater China" class="ng-binding ng-scope">Greater China
                            (3)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Hungary" class="ng-binding ng-scope">Hungary
                            (3)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Japan" class="ng-binding ng-scope">Japan
                            (4)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Morocco" class="ng-binding ng-scope">Morocco
                            (5)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Netherlands" class="ng-binding ng-scope">Netherlands
                            (5)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Portugal" class="ng-binding ng-scope">Portugal
                            (1)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Romania" class="ng-binding ng-scope">Romania
                            (7)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Russia" class="ng-binding ng-scope">Russia
                            (7)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Saudi Arabia" class="ng-binding ng-scope">Saudi Arabia
                            (1)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="South Korea" class="ng-binding ng-scope">South Korea
                            (3)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Spain" class="ng-binding ng-scope">Spain
                            (2)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Sweden" class="ng-binding ng-scope">Sweden
                            (2)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Switzerland" class="ng-binding ng-scope">Switzerland
                            (6)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Ukraine" class="ng-binding ng-scope">Ukraine
                            (4)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="USA" class="ng-binding ng-scope">USA
                            (1)
                        </option><!-- end ngRepeat: option in filterCategory.options -->
                        </select>
                        <svg class="icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thick"></use>
                        </svg>
                    </div>
                </div><!-- end ngRepeat: filterCategory in vm.filterData.filterCategories --><div class="form-group ng-scope" ng-repeat="filterCategory in vm.filterData.filterCategories">
                    <div class="c-form-select type-default">
                        <select name="audiences.EN" aria-label="Select" ng-model="vm.selection[filterCategory.field]" ng-change="vm.selectboxChanged(filterCategory, vm.selection[filterCategory.field])" class="ng-pristine ng-untouched ng-valid ng-empty">
                            <option value="" class="ng-binding">Select: Career Level</option>
                            <!-- ngIf: filterCategory.noselection --><option ng-if="filterCategory.noselection" value="" class="ng-binding ng-scope" selected="selected">All</option><!-- end ngIf: filterCategory.noselection -->
                            <!-- ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Consulting – Experienced Hire" class="ng-binding ng-scope">Consulting – Experienced Hire
                            (48)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Consulting – Graduate Hire" class="ng-binding ng-scope">Consulting – Graduate Hire
                            (18)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Consulting – Internship" class="ng-binding ng-scope">Consulting – Internship
                            (15)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Consulting – MBA Positions" class="ng-binding ng-scope">Consulting – MBA Positions
                            (2)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Non-Consulting – Experienced Hire" class="ng-binding ng-scope">Non-Consulting – Experienced Hire
                            (8)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Non-Consulting – Graduate Hire" class="ng-binding ng-scope">Non-Consulting – Graduate Hire
                            (2)
                        </option><!-- end ngRepeat: option in filterCategory.options --><option ng-repeat="option in filterCategory.options" value="Non-Consulting – Internship" class="ng-binding ng-scope">Non-Consulting – Internship
                            (7)
                        </option><!-- end ngRepeat: option in filterCategory.options -->
                        </select>
                        <svg class="icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#angle-thick"></use>
                        </svg>
                    </div>
                </div><!-- end ngRepeat: filterCategory in vm.filterData.filterCategories -->
                    <div class="form-footer">
                        <button type="submit" class="c-button bg-pink">
                            <div class="icon-wrapper">
                                <span>Search</span>
                                <svg class="icon magnifier">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#magnifier"></use>
                                </svg>
                                <svg class="icon arrow">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.rolandberger.com/img/icons.svg#arrow"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                </form><!-- end ngIf: !quicksearchStage -->
                </li>
            </ul>
        </div>
    </nav>




</header>
